<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqcxi.flowEngine.mapper.ActRuTaskMapper">

    <resultMap id="BaseResultMap" type="com.cqcxi.flowEngine.entity.ActRuTask">
            <id property="id" column="ID_" jdbcType="VARCHAR"/>
            <result property="rev" column="REV_" jdbcType="INTEGER"/>
            <result property="executionId" column="EXECUTION_ID_" jdbcType="VARCHAR"/>
            <result property="procInstId" column="PROC_INST_ID_" jdbcType="VARCHAR"/>
            <result property="procDefId" column="PROC_DEF_ID_" jdbcType="VARCHAR"/>
            <result property="name" column="NAME_" jdbcType="VARCHAR"/>
            <result property="businessKey" column="BUSINESS_KEY_" jdbcType="VARCHAR"/>
            <result property="parentTaskId" column="PARENT_TASK_ID_" jdbcType="VARCHAR"/>
            <result property="description" column="DESCRIPTION_" jdbcType="VARCHAR"/>
            <result property="taskDefKey" column="TASK_DEF_KEY_" jdbcType="VARCHAR"/>
            <result property="owner" column="OWNER_" jdbcType="VARCHAR"/>
            <result property="assignee" column="ASSIGNEE_" jdbcType="VARCHAR"/>
            <result property="delegation" column="DELEGATION_" jdbcType="VARCHAR"/>
            <result property="priority" column="PRIORITY_" jdbcType="INTEGER"/>
            <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
            <result property="dueDate" column="DUE_DATE_" jdbcType="TIMESTAMP"/>
            <result property="category" column="CATEGORY_" jdbcType="VARCHAR"/>
            <result property="suspensionState" column="SUSPENSION_STATE_" jdbcType="INTEGER"/>
            <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
            <result property="formKey" column="FORM_KEY_" jdbcType="VARCHAR"/>
            <result property="claimTime" column="CLAIM_TIME_" jdbcType="TIMESTAMP"/>
            <result property="appVersion" column="APP_VERSION_" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID_,REV_,EXECUTION_ID_,
        PROC_INST_ID_,PROC_DEF_ID_,NAME_,
        BUSINESS_KEY_,PARENT_TASK_ID_,DESCRIPTION_,
        TASK_DEF_KEY_,OWNER_,ASSIGNEE_,
        DELEGATION_,PRIORITY_,CREATE_TIME_,
        DUE_DATE_,CATEGORY_,SUSPENSION_STATE_,
        TENANT_ID_,FORM_KEY_,CLAIM_TIME_,
        APP_VERSION_
    </sql>
    <select id="queryTask" resultType="com.cqcxi.flowEngine.model.TaskQueryVo">
         SELECT
                act.ID_ id,
                act.NAME_ 'name',
                ahp.BUSINESS_KEY_ businessId,
                act.ASSIGNEE_ assignee,
                DATE_FORMAT( act.CREATE_TIME_, '%Y-%m-%d %H:%i:%s' ) createTime,
                ahp.START_USER_ID_ initiator
            FROM
                act_ru_task act
                INNER JOIN act_hi_procinst ahp ON act.PROC_INST_ID_ = ahp.PROC_INST_ID_
            WHERE
                act.PROC_INST_ID_ = #{procInstId}
    </select>
    <select id="queryStarterByTaskId" resultType="java.lang.String">
        SELECT
            ahp.START_USER_ID_
        FROM
            act_ru_task act
            INNER JOIN act_hi_procinst ahp ON act.PROC_INST_ID_ = ahp.PROC_INST_ID_
        WHERE
            act.ID_ = #{taskId}
    </select>


</mapper>
